.resetPasswordForm {
  width: 357px;
  height: 370px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.email,
.newPassword {
  border: 0;
  background-color: transparent;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-white);
  z-index: 1;
}
.email {
  align-self: stretch;
  height: 52px;
}
.newPassword {
  height: 51.3px;
  flex: 1;
}
.passwordMatch {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs-3) var(--padding-12xs);
}
.confirmPassword {
  border: 0;
  background-color: transparent;
  height: 51.8px;
  flex: 1;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-white);
  z-index: 1;
}
.newPasswordForm,
.passwordMatch1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs-6) var(--padding-12xs);
}
.newPasswordForm {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray);
  flex-direction: column;
  padding: var(--padding-16xl-6) var(--padding-55xl) var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-4xl-8);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .newPasswordForm {
    padding: var(--padding-4xl) var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
